.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #bcbcbc;
    border-radius: 0.375rem;
}
.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #830094;
    box-shadow: 0 0 0 3px #5f006b;
}

.form-style input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    border: 2px solid #d1d5db;
    border-radius: 0.375rem;
    background-color: white;
    cursor: pointer;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-style input[type="checkbox"]:checked {
    background-color: #f080ff;
    border-color: #f080ff;
}

.form-style input[type="checkbox"]:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
}

.form-style input[type="checkbox"]:focus {
    outline: none;
    border-color: #f080ff;
    box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.1);
}


/* Defining colors I want to use for easy use */
:root {
/* this is for forms */
--color-abf-1: #3d0066;
--color-abf-2: #510087;
--color-abf-3: #5c0099;
--color-abf-4: #fdc500;
--color-abf-5: #ffd500;
/* This is for main */
--color-abm-1: #1F1A3D;
--color-abm-2: #6A0DAD;
--color-abm-3: #A45DBB;
--color-abm-4: #EAB8E4;
--color-abm-5: #000000;
}

.text-abf-1 {
color: var(--color-abf-1);
}
.text-abf-2 {
color: var(--color-abf-2);
}
.text-abf-3 {
color: var(--color-abf-3);
}
.text-abf-4 {
color: var(--color-abf-4);
}
.text-abf-5 {
color: var(--color-abf-5);
}
.text-abm-1 {
color: var(--color-abm-1);
}
.text-abm-2 {
color: var(--color-abm-2);
}
.text-abm-3 {
color: var(--color-abm-3);
}
.text-abm-4 {
color: var(--color-abm-4);
}
.text-abm-5 {
color: var(--color-abm-5);
}